Package: me.samhep.vibrationsplus
Name: vibrationsplus
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Samuel Hepworth
Author: Samuel Hepworth
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), ws.hbang.common (>= 1.15.1)
Version: 0.0.1-13+debug
Installed-Size: 376
